* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.gallery-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(231, 230, 230); 
  align-items: center;
}

.buttom-style {
  width: 300px;
  height: 40px;
  background-color: #6CB4EE;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttom-style:hover {
  background-color: #007FFF;
}

.button-container {
  top: 0;
  position: fixed;
  z-index: 1;
  display: flex;
  gap: 10px;
}

.photo-img {
  height: 500px;
  width: 500px;
  border-radius: 20px;
}


.album-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}


.album-row {
  display: flex;
}


.album-img {
  /* padding: 10px; */
  border: 1px solid black;
  margin: 10px;
  height: 200px;
  width: 200px;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  overflow: hidden;  
  display: flex;
  flex-direction: column;
}


.img-label {
  position: absolute;
  top: 0;
  padding: 10px;
}


.img-style {
  object-fit: cover;
  height: 85%;
  width: 100%;
}

.delete-button {
  height: 15%;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  cursor: pointer;
  background-color:  	#C0C0C0;
}

.delete-button:hover {
  background-color:  #B0B0B0;
}

.photo-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 230, 230);
  position: relative;
}



